<!DOCTYPE html>
<html>
<head>
	<title>Create a new Zord</title>
</head>
<body>
<h1>Create a zord</h1>

<form action = "/zords" method = 'post'>
	<p>Name: <input type="text" name="name"></p>
	<p>Ranger: <input type="text" name="ranger"></p>
	<p>Part of the megazord: <input type="text" name="part"></p>
	<p>Coolness rating: <input type="number" name="coolness"></p>
	<input type="submit" value = "submit zord">
</form>	
</body>
</html>